<html>

<head>
  <meta charset="utf-8">
  <title>Kubernetes Sample</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>

<body>
  <!-- Navbar-->
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Kubernetes Sample</a>
  </nav>

  <!-- Contents -->
  <div class="container" style="padding:20px 0 0 0">
    <div class="row">
      <div class="alert bg-primary" role="alert">
        project.id = {{proj_id}}
      </div>
      <div class="alert bg-secondary" role="alert">
        color.top = {{color_top}} / text.size = {{text_size}}
      </div>
    </div>

    <div class="row">
      <div class="alert alert-primary" role="alert">
        {{host_name}}
      </div>
    </div>
    <div class="row">
      <img class="img-fluid" src="{{image_path}}" alt="images" />
    </div>
  </div>
</body>

</html>